body,html{
    margin:0;
    padding:0;
    background:#333744;
}
.header{
    display:flex;
    justify-content: center;
    font-size: 2.8rem;
    color:white;
    font-family: Helvetica,Arial,sans-serif;
}

.search{
    display:flex;
    justify-content: center;
    width:20em;
    height:3em;
    margin:auto;
}

.groups{
    display:flex;
    flex-direction:column;
    margin:2rem;
    font-family: 'Courier New', Courier, monospace;
}

.groups a{
    text-decoration:none;
    font-size: x-large;
    padding:0.5rem;
    margin:1rem 2.5rem;
    font-weight: bold;
    color:white;
    border:1px solid #7C5CBF;
    text-align: center;
    transition:transform 0.1s ease-out;
}

.groups a:hover{
    border: 2px solid whitesmoke;
    transform: scale(1.01);
}

.newgroup{
    display:flex;
    justify-content: center;
    margin:1rem;
}

.newgroup button{
    background-color: #7C5CBF;
    color:white;
    font-size: medium;
    width:15em;
    height:2.5em;
    margin:auto;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border:none;
}

.newgroup button:hover{
    background-color:#7358ad;
}